:root {
  --brand: #97164e;
  --sub: #f9bf29;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body{
  font-family: "Open Sans", sans-serif;
}

.food_section .filters_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

.food_section .filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.food_section .filters_menu li.active {
  background-color: var(--brand);
  color: #ffffff;
}

.food_section .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: var(--brand);
}

.food_section .box .img-box {
  overflow: hidden;
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.food_section .box .img-box img {
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.food_section .box .detail-box {
  padding: 25px;
}

.food_section .box .detail-box h5 {
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
  color: white;
}

.food_section .box .detail-box p {
  font-size: 15px;
}

.food_section .box .detail-box h6 {
  margin-top: 10px;
}

.food_section .box .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food_section .box .options a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffbe33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food_section .box .options a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.food_section .box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.food_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.food_section .btn-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.food_section .btn-box a:hover {
  background-color: #e69c00;
}
/* --jewellery  */



/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

/* .banner {
  margin-top: 50px;
  border-bottom: 3px dotted #eee;
  border-top: 3px dotted #eee;
  padding-top: 50px;
  padding-bottom: 30px;
} */

.banner .left-content .thumb img {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner .left-content .inner-content {
  width: 100%;
  position: absolute;
  /* left: 100px; */
  top: 50%;
  transform: translateY(-50%);
}

.banner .left-content .inner-content h4 {
  display: none;
  color: var(--brand);
  /* margin-top: -10px; */
  font-size: 32px;
  font-weight: 700;
  /* margin-bottom: 20px; */
}

.banner .left-content .inner-content span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-bottom: 30px;
}

.banner .right-content .right-first-image {
  margin-bottom: 28.5px;
}

.thumb {
  position: relative;
  text-align: center;
}

.banner .right-content .right-first-image .thumb img {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner .right-content .right-first-image .thumb .inner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.banner .right-content .right-first-image .thumb .inner-content h4 {
  display: none;
  color: var(--brand);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner .right-content .right-first-image .thumb .inner-content span {
  font-size: 16px;
  color: #fff;
  font-style: italic;
}

.hover-content {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  text-align: center;
  border: 2px solid var(--brand);
  /* background-color: rgba(42,42,42,.97); */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.thumb:hover .hover-content {
  opacity: 1;
  visibility: visible;
}

.banner .right-content .right-first-image .thumb .hover-content .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner .right-content .right-first-image .thumb .hover-content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner .right-content .right-first-image .thumb .hover-content p {
  color: #fff;
  padding: 0px 20px;
  margin-bottom: 20px;
}


@media (max-width: 767px) {
  .main-banner .left-content .thumb .inner-content {
    left: 50%;
    top: 47.5%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
}